/* section1 */
.section1 {
  width: 1000px;
  height: 1000px;
  /* background-color: blue; */
  border-radius: 10px;
  border: 5px solid #59bd81;
  box-sizing: border-box;
  padding: 5rem 3rem;
}

/* myInfoBox */
.myInfoBox {
  width: 50%;
  height: 60%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.myInfoBox > .imageBox {
  width: 100%;
  height: 310px;
  text-align: center;
}
.myInfoBox > .imageBox > img {
  width: 300px;
  height: 300px;
}
.myInfoBox > .nameBox {
  width: 100%;
  height: 20%;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
}
.myInfoBox > .createDateBox {
  width: 100%;
  height: 10%;
  font-size: 0.8rem;
  color: #cacaca;
  margin-bottom: 2rem;
  text-align: center;
}
.myInfoBox > .buttonBox {
  width: 100%;
  height: 20%;
  font-size: 2rem;
  text-align: center;
}
/* TODO : 이건 왜 안 될까요? */
/* .myInfoBox > .buttonBox > input[type="button"] */
input[type="button"] {
  width: 300px;
  color: #cacaca;
  background-color: #ffffff;
  border-radius: 10px;
}

/* myWeightBox */
.myWeightBox {
  width: 50%;
  height: 60%;
  background-color: #b0efc9;
  float: left;
  padding: 3rem;
  border-radius: 10px;
}
.myWeightBox > .challengeBox {
  margin-bottom: 1.5rem;
}
.myWeightBox > .challengeBox > .titleBox {
  color: #c0aea0;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.myWeightBox > .challengeBox > .infoBox {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.myWeightBox > .challengeBox > .infoBox .kgName {
  display: inline-block;
  margin-left: 0.3rem;
}
.myWeightBox > .challengeBox > .infoBox > .remainingBox {
  color: #c0aea0;
  font-size: 0.8rem;
}
.myWeightBox > .buttonBox {
  width: 250px;
  height: 60px;
  text-align: center;
  border: 2px solid #82a1cc;
  border-radius: 10px;
  padding: 0.2rem;
  box-sizing: border-box;
  padding: 0.5rem;
}
.myWeightBox > .buttonBox > .imageBox img {
  width: 50px;
  height: 50px;
}
.myWeightBox > .buttonBox > .imageBox {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myWeightBox > .buttonBox > .nameBox {
  width: 80%;
  height: 100%;
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* myIntroductionBox */
.myIntroductionBox {
  width: 100%;
  height: 20%;
  clear: both;

  padding: 1.5rem;
}

/* myActivityBox */
.myActivityBox {
  width: 100%;
  height: 20%;
  background-color: #b0efc9;
}
