.inputkcalcard {
  width: 25rem;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* position: absolute; */
  top: -80px;
  /* left: 250px; */
  left: 35%;
}

.inputkcalcardtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.kcalform {
  margin-left: 8px;
  margin-top: 10px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #000000;
  border-top: none;
  border-right: none;
  border-left: none;
}

.kcalbutton {
  font-weight: bold;
  margin-top: 20px;
  width: 20%;
  margin-left: 120px;
}

.kcal {
  font-size: 1.5rem;
  margin: 0 5px;
  margin-top: 10px;
}

.kcalimgdiv {
  /* width: 1000px;  */
  height: 150px;
  overflow: hidden;
  position: relative;
}

.kcalimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputkcaldivcss {
  position: relative;
}

.a {
  left: 50%;
}

.form-check-lg {
  margin-top: 8px;
  margin-left: 8px;
}

.kcalpurpose {
  font-size: 1.5rem;
  margin: 0 5px;
  margin-right: 10px;
}
.purpose {
  font-size: 1rem;
  margin: 0 5px;
}
