@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.foodSearch {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding-top: 200px;
  font-family: "SUITE-Regular";
  max-width: 1328px;
  box-sizing: content-box;
  width: 1200px;
  height: 1000px;
}

.searchBox {
  width: 100%;
  height: 1200px;
  text-align: center;
}

/* kcalContexListtBox */
.kcalContexListBox {
  width: 90%;
  margin-top: 10%;
  display: flex;
  flex-flow: row wrap;

  /* align-items: center; */
  margin-left: 10%;
}

.kcalContexListBox > .kcalContex {
  width: 350px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 5px 5px 1px -1px #f1f1f1;
  margin: 0 1rem 5rem 1rem;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: background-color 0.3s ease;
  position: relative;
  cursor: pointer;
}

@keyframes moveAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

.kcalContex:hover {
  animation: moveAnimation 2s;
}

.kcalContexListBox > .kcalContex > .kcalContexTitle {
  width: 80%;
  height: 20%;
  font-size: 25px;
  padding-top: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kcalContexListBox > .kcalContex > .kcalContextContentBox {
  width: 60%;
  height: 50%;
  border-radius: 10px;

  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand {
  color: #15a775;
}

/* buttonBox */
.pageButtonBox {
  width: 100%;
  height: 10%;
  padding-right: 12%;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 5%;
}

.pageButtonBox > .pageButtonList {
  width: 33%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageButtonBox > .pageButtonList > input[type="button"] {
  width: 2rem;
  height: 2rem;
  background-color: #f8f6e6;
  margin-left: 0.5rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pageButtonBox > .pageButtonList > input[type="button"]:hover {
  background-color: #fdf3a2;
}

.foodNoSearch {
  width: 50%;
  height: 1000px;
  margin-left: 25%;
  padding-bottom: 10%;
  text-align: center;
}
