.section.section2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* TODO : 개수가 4개 이상이면 칸들이 중앙으로 오는 것을 해결해야 한다.
    왼쪽으로 배치되게 하고 싶다.
  */
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-content: center; */

  box-sizing: border-box;
  padding: 3rem;
}

.Section2Component {
  width: 25%;
  height: 120px;
  clear: both;
  text-align: center;
  box-shadow: 5px 5px 1px -1px #f1f1f1;
  border-radius: 10px;

  box-sizing: border-box;
  padding: 1rem;
  margin-right: 1.5rem;
}

.imageBox {
  width: 25%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
/* TODO : 이미지 크기를 직접 설정할지 생각 */
.imageBox img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.contentBox {
  width: 65%;
  height: 100%;
  padding: 0 1rem;
  float: left;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* TODO : 글자가 넘치지 않게 하는 방법을 찾아야 한다. */
  /* overflow: visible; */
}

.contentBox > .content1 {
  font-size: 1rem;
  font-weight: 700;
}

.contentBox > .content2 {
  font-size: 1.7rem;
  font-weight: bolder;
}

.buttonBox {
  width: 10%;
  height: 100%;
  float: left;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
