.inputkcalcard {
    width: 30rem;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* position: absolute; */
    top: -80px;
    /* left: 250px; */
    left: 35%;
}

.inputkcalcardtitle {
    font-weight: bold; 
    font-size: 1.5rem; 
    margin-bottom: 30px; 
}

.kcalform {
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid #000000; 
    border-top: none;
    border-right: none;
    border-left: none;
}

.kcalbutton {
    font-weight: bold;
    width: 80%; 
    margin-left: 60px;
}

.kcal {
    font-size: 1.5rem; 
    margin: 0 5px;
}

.kcalimgdiv{
    /* width: 1000px;  */
    height: 150px; 
    overflow: hidden; 
    position: relative;
}

.kcalimg{
    object-fit: cover;
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputkcaldivcss{
    position: relative;
}

.a {
    left: 50%;
}