.btn-wrapper {
  display: flex;
  justify-content: center;
}

.modal-open-button,
.modal-close-btn {
  cursor: pointer;
  margin-left: auto;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  width: 60%;
  height: 95%;
  padding: 15px;
  z-index: 1000;
  overflow: hidden;
}
.modal-content button {
  font-size: 16px;
}
.modal-content table {
  font-size: 16px;
}

.modal-search {
  text-align: center;
}

.registrationBtn {
  cursor: pointer;
}

/* buttonBox */
.pageButtonBox {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 페이지 버튼 */
.pageButtonBox > .pageButtonList {
  width: 33%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pageButtonBox > .pageButtonList > button {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  background-color: transparent;
  margin-left: 0.3rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pageButtonBox > .pageButtonList > button:hover {
  background-color: #59bd82;
}

.pageButtonBox > .pageButtonList > button.nowPageBtn {
  background-color: #59bd82;
}

/* 음식 이름 */
.foodName:hover {
  cursor: pointer;
  color: #0f6ffd;
}
