.btn-wrapper {
  display: flex;
  justify-content: center;
}

.modal-open-button,
.modal-close-btn {
  cursor: pointer;
  margin-left: auto;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  width: 60%;
  height: 60%;
  padding: 15px;
  z-index: 1000;
}

.modal-search {
  text-align: center;
}
