@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* ************* recd-kcal-section1 시작 *********** */

.kcal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 15rem;
  margin-right: 15rem;
}

.recd-kcal-section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  font-family: "SUITE-Regular";
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
}

/* ************* recd-kcal-section1 끝 *********** */

/* ************* recd-kcal-section2 시작 *********** */

.additionMeal {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 90px;
  margin: 20px auto 0 auto;
  padding: 20px;
  border-radius: 37px;
  background: #fff;
  text-align: center;
}

.additionMeal .additionMeal-name {
  font-family: "SUITE-Regular";
  font-size: 30px;
  font-weight: 900;

  /* float: left; */
  width: 15%;
}

.additionMeal .additionMeal-button-content {
  font-family: "SUITE-Regular";
  font-size: 40px;
  /* 폰트를 어떻게 하면 안 바뀌는 지 논의해보기 */
  display: flex;
  justify-content: center;
  align-items: center;

  /* float: left; */
  width: 5%;
}

.additionMeal .additionMeal-button-content .additionMeal-button {
  cursor: pointer;
}

.recd-kcal-section2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: "SUITE-Regular";
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.recd-kcal-section2 .meal-title,
.recd-kcal-section3 .recommended-intake-title,
.recd-kcal-section3 .total-intake-title {
  font-size: 30px;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

.recd-kcal-section2 .meal-content {
  display: flex;
  /* 요소를 수직 가운데 정렬 */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 요소를 수평 가운데 정렬 */

  text-align: center;
}

.recd-kcal-section2 .meal-content .meal {
  width: 1200px;
  text-align: center;
  margin-top: 20px;
  padding: 16px;
  border-radius: 37px;
  background: #fff;
}

.recd-kcal-section2 .meal-content .meal-name {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 0.1rem;
}

.recd-kcal-section2 .meal-content .meal-intake {
  color: #59bd82;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0;
}

.recd-kcal-section2 .meal-content .meal .meal-info {
  float: left;
  width: 30%;
}

.recd-kcal-section2 .meal-content .meal .meal-name .food-title  {
  /* TODO : margin 말고 처리가 필요할 거 같습니다. */
  margin-top: 3px;
  font-weight: 700;
}

.recd-kcal-section2 .meal-content .meal .meal-name .food-amount  {
  font-size: 14px;
}

.recd-kcal-section2 .meal-content .meal .nutrient {
  float: left;
  width: 60%;
}

.recd-kcal-section2 .meal-content .meal .meal-delete {
  float: left;
  width: 10%;
  margin-top: 1rem;
}

.recd-kcal-section2 .meal-content .meal .meal-delete .meal-delete-icon {
  cursor: pointer;
}

.recd-kcal-section2 .meal-content .meal .nutrient .nutrient-detail,
.recd-kcal-section2 .meal-content .meal .nutrient .nutrient-gram {
  display: flex;
  width: 100%;
}

.nutrient-name {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 0.1rem;
  width: 100%;
}

.nutrient-data {
  font-size: 1.2rem;
  font-weight: 800;
  color: #59bd82;
  width: 100%;
}

/* ************* recd-kcal-section2 끝 *********** */

/* ************* recd-kcal-section3 시작 *********** */

.recd-kcal-section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "SUITE-Regular";
  text-align: center;
  margin: 0 auto;
}

.recd-kcal-section3 .recommended-intake-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.recd-kcal-section3 .total-intake-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 200px;
}

.recd-kcal-section3 .recommended-intake,
.recd-kcal-section3 .total-intake {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 240px;
  margin: 10px;
  padding: 20px;
  border-radius: 37px;
  background: #fff;
  box-shadow: 0px 0px 17.2px -5px #59bd82;
}

.recd-kcal-section3 .recommended-intake-name1,
.recd-kcal-section3 .total-intake .total-intake-name1 {
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 0;
}

.recd-kcal-section3 .recommended-intake-name2,
.recd-kcal-section3 .total-intake .total-intake-name2 {
  color: #59bd82;
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 0;
}

/* ************* recd-kcal-section3 끝 *********** */

/* ************* recd-kcal-section4 시작 *********** */

.recd-kcal-section4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  font-family: "SUITE-Regular";
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 1rem;
}

.recd-kcal-section4 .total-intake-content {
  display: flex;
  flex-wrap: wrap;
  /* 요소들이 넘칠 경우 여러 줄로 표시되도록 설정 */
  justify-content: center;
  /* 수평 가운데 정렬 */
  margin: 0 auto;
}

.recd-kcal-section4 .total-intake-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 요소를 수직 가운데 정렬 */
  justify-content: center;

  width: 200px;
}

.recd-kcal-section4 .total-intake-title .total-intake-name1 {
  font-size: 27px;
  font-weight: 900;
}

.recd-kcal-section4 .total-intake-title .total-intake-name2 {
  color: #59bd82;
  font-size: 27px;
  font-weight: 900;
}

.recd-kcal-section4 .total-intake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  padding: 5px;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #59bd82;
}

.recd-kcal-section4 .total-intake .total-intake-name1 {
  color: #f8f6e6;
  font-size: 23px;
  font-weight: 900;
}

.recd-kcal-section4 .total-intake .total-intake-name2 {
  color: #fff;
  font-size: 23px;
  font-weight: 900;
}

/* ************* recd-kcal-section4 끝 *********** */