h4 {
    font-weight: 900;
    flex-grow: 5;
    margin-bottom: 15px;
}

.col-sm-6 {
    width: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
}

.card {
    box-shadow: 2px 2px 2px 2px rgba(208, 213, 221, 0.5);
    border-radius: 10px;
    width: 60%;
    border-color: #d0d5dd;
    padding: 2.5rem;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.freeboard-card {
    display: flex;
    flex-direction: column;
}

.freeboard-title {
    flex-grow: 5;
}

.freeboard-view {
    margin-left: 10px;
}

.freeboard-comment {
    margin-left: 10px;
}
