.updateBox {
  width: 60%;
  margin: 150px auto 0 auto;
  margin-top: 200px;
}

.updateBox .title input[name='title'] {
  height: 3rem;
}

.updateBox .buttonBox {
  margin-top: 120px;
  margin-bottom: 200px;
  text-align: center;
}

.buttonBox .updatebutton {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  height: 50px;
  width: 200px;
  background-color: #fff;
  color: #9DE18F;

  &:hover {
    color: #fff;
    background-color: #9DE18F;
  }
}

.buttonBox .cancelbutton {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  height: 50px;
  width: 200px;
  background-color: #F8F6E6;
  color: #000;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}