.writeBox {
  width: 60%;
  margin: 150px auto 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.writeBox .title input[name='title'] {
  height: 3.5em;
}

.writeBox .buttonBox {
  text-align: center;
}

.writebutton{
  margin-top: 90px;
  text-align: center;
  height: 50px;
  width: 200px;
  color: #59BD82;
    background-color: transparent;
    border-color: #59BD82;
  &:hover {
    color: white;
    background-color: #59BD82;
    border-color: transparent; 
  }
}