h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
}

.freeboard {
    margin-top: 200px;
    margin-bottom: 200px;
}

.freeboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* 원하는 여백을 지정하세요 */
  }
  