.no-focus-border:focus {
    box-shadow: none;
    border-color: initial;
  }

.no-focus-border::placeholder {
  color: #ccc;  
}

.form-control:focus {
  box-shadow: none;
  border-color: #ccc; 
}

.form-control.no-focus-border {
  border-color: #ccc;
}

.boardsearchbar {
  border-radius: 20px;
  outline: none;
  border-color:#ccc;
}

.searchbutton{
  background-color: #59BD82;
  color: #fff;
  border: #fff;
  &:hover {
    color: #fff;
    background-color: #59BD82; 
  }
}