.loginbutton {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  background-color: #59bd82;
  border: none;
  margin-top: 3%;
}
.loginForm {
  margin-top: 42%;
  margin-bottom: 12%;
}
.snsloginbutton {
  height: 35px;
  margin-bottom: 10px;
  /* margin-left: 5px; */
  margin-top: 10px;
  margin-right: 5px;
}

.logindiv1 {
  display: block;
  margin: auto;
  width: 150px;
}

.loginfont {
  font-size: 13px;
}

.loginfont2 {
  font-size: 13px;
  text-align: center;
}

.logininputdiv {
  margin-bottom: 10px;
}

.loginfont2 a {
  color: black;
  text-decoration: none;
}

.loginfont2 a:hover {
  text-decoration: none;
}

.logincontainer {
  margin-top: 7%;
  margin-bottom: 6%;
}

.logincontainer2 {
  margin-top: 8%;
  margin-bottom: 21%;
}

.error-message {
  font-size: 12px;
  color: rgb(255, 52, 52);
  margin: 5px;
}
