.commentlist {
    border: none !important;
  }
  .commenttotal{
    margin-bottom: 200px;
  }
  .commenttext{
    padding-left: 43px;
    padding-top: 5px;
  }

  .commentcount{
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #59BD82;
  }

  .commentmanager{
    margin-left: 20px;
  }

  .commentdelete{
    margin-left: 10px;
  }

  
  