.freeinfotitle{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}
.freeinfoheader{
    display: flex;
}
.freeinfonamedate{
    display: flex;
    margin-top: auto;
    margin-left: auto;
}

.freeinfoheaderesult{
    margin-bottom: 40px;
    margin-top: 130px;
}

.freeinfohits{
    margin-left: 20px;
}

.freeinfoname{
    margin-right: 5px;
}

.freeinfodate{
    margin-left: 5px;
}