.commentlist {
    border: none !important;
  }
  .commenttotal{
    padding-top: 100px;
    margin-bottom: 100px;
  }
  .commenttext{
    padding-left: 43px;
    padding-top: 5px;
  }

  .commentcount{
    margin-left: 10px;
    margin-top: 5px;
  }