@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.dummy_header{
  display: flex;
  justify-content: center;
  
}
.main_header{
  height: 15vh;
  /* background-color: yellow; */
   
  width: 90%;
  display: flex;
  justify-content: space-around;
  width: 100vx;
  margin-bottom: 100px;
  
}

.main_header > div{
  margin-top: 50px;
  display: inline-block;
  height: 10vh;
  /* background-color: red; */
}

.logo img{
  margin-left: -20%;
  width: 150px;
  height: 100px;

}


.menu {
  list-style: none;
  padding: 1rem;
}

.menu li {
  list-style: none;
  padding-left: 30px;
  float: left;
  font-size: 23px;
  font-weight: 600;
  font-family: "GmarketSansMedium";
  color: rgb(80, 80, 80);
  
}

.menu a{
  text-decoration: none;
  color: black;

}


.icon {
  
}

.icon li{
  list-style: none;
  float: left;
  padding-left:20px;
  width: 30px;
  height: 20px;
  margin-top: 30px;
  font-size: 30px;
  margin-left: 10px;

}
.icon li a{
  color: rgb(70, 70, 70);
  opacity:70%;
}