@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "SUITE-Regular";
}

.calendarposition {
  margin-top: 10%;
  margin-right: 30%;
}

.react-calendar {
  width: 350px;
  background: white;
  /* border: 1px solid #a0a096; */
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffffff;
  border-radius: 50%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffff;
  border-radius: 50%;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #9de18f;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #9de18f;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #ff5757;
  border-radius: 50%;
  display: flex;
  float: left;
  text-align: center;
  margin-left: 1px;
}

.dot2 {
  height: 8px;
  width: 8px;
  background-color: #f9c109;
  border-radius: 50%;
  display: flex;
  float: left;
  text-align: center;
  margin-left: 1px;
}

.dot3 {
  height: 8px;
  width: 8px;
  background-color: #ebff7b;
  border-radius: 50%;
  display: flex;
  float: left;
  text-align: center;
  margin-left: 1px;
}

.dot4 {
  height: 8px;
  width: 8px;
  background-color: #4fff69;
  border-radius: 50%;
  display: flex;
  float: left;
  text-align: center;
  margin-left: 1px;
}

.dot_1 {
  height: 8px;
  width: 8px;
  background-color: #ff5757;
  border-radius: 50%;
  text-align: center;
  margin-left: 1px;
}

.dot2_1 {
  height: 8px;
  width: 8px;
  background-color: #f9c109;
  border-radius: 50%;
  text-align: center;
  margin-left: 1px;
}

.dot3_1 {
  height: 8px;
  width: 8px;
  background-color: #ebff7b;
  border-radius: 50%;
  text-align: center;
  margin-left: 1px;
}

.dot4_1 {
  height: 8px;
  width: 8px;
  background-color: #4fff69;
  border-radius: 50%;
  text-align: center;
  margin-left: 1px;
}

.meals-container {
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.meals {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 15px;
}

.dot_1,
.dot2_1,
.dot3_1,
.dot4_1 {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  text-align: center;
  margin-left: 1px;
  margin-right: 5px;
}
